{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}jquery.tablesorter.min.js"></script>
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
    var sensor_group_length = "{{ sensor_groups|length }}";
</script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}energy_statistics_table.js"></script>
{% endblock %}

{% block content %}
<table class="tablesorter" id="energystats">
  <thead>
    <tr id="trhead">
      <th>Dorm</th>
      <th>Average This Minute (kW)</th>
      <th>Average Since Monday (kW)</th>
      <th>Average This Month (kW)</th>
    </tr>
  </thead>
  <tbody>
    {% for sg in sensor_groups %}
      <tr id="row{{ sg.1 }}" {% if sg.0|divisibleby:2 %} class="even" {% endif %}>
	<td id="name{{ sg.1 }}">{{ sg.1 }}</td>
	<td id="curr{{ sg.1 }}">minutepowerhere</td>
	<td id="week{{ sg.1 }}">weekpowerhere</td>
	<td id="month{{ sg.1 }}">monthpowerhere</td>
      </tr>
    {% endfor %}
      
</table>

{% endblock %}