{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/graph.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
    var sensor_group_length = "{{ sensor_groups|length }}";
</script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/page_specific/dynamic_graph.js"></script>
{% endblock %}

{% block content %}
<table class="center">
  <tr>
    <td><div id="graph"></div></td>
    <td><div id="choices"></div></td>
  </tr>
</table>
{% endblock %}
