{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
</script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}dynamic_graph.js"></script>
<script language="javascript" type="text/javascript">
$(function()
  {
  alert("This did something!");
  }
)();
</script>
{% endblock %}

{% block content %}
<div id="graph"></div>
{% endblock %}
