{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/detailed_view.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    //var data_url = "{{ data_url }}";
    var sensor_group_length = "{{ sensor_groups|length }}";
    var day_url = "{{ day_url }}";
    var week_url = "{{ week_url }}";
    var month_url = "{{ month_url }}";
    var year_url = "{{ year_url }}";
    //var south_url = "{{ south_url }}";
    var west_url = "{{ west_url }}";
    var north_url = "{{ north_url }}";
    var east_url = "{{ east_url }}";
    var sontag_url = "{{ sontag_url }}";
    var atwood_url = "{{ atwood_url }}";
    var linde_url = "{{ linde_url }}";
    var case_url = "{{ case_url }}";
    //var timedelta_ms = {{ timedelta_ms }};
</script>
<script language="javascript" type="text/javascript"
src="{{ MEDIA_URL }}js/page_specific/map_selector_test.js"></script>
{% endblock %}

{% block content %}


<canvas id="campMap" width="570" height="150"></canvas>
<br>

{% endblock %}
