{% extends "graph/static_graph_form.html" %}

{% block morehead %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/graph.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
    var start = {{ start }};
    var end = {{ end }};
    var res = {{ res }};
    var timedelta_ms = {{ timedelta_ms }};
</script>
<!--<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/page_specific/static_graph.js"></script>-->
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/page_specific/tickhelper.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/page_specific/static_graph_high.js"></script>
{% endblock %}

{% block content %}

<div id="graph"></div>
<br>
<table id="datarequest">
<tr>
    <td> {% block form %} {{ block.super }} {% endblock %}</td>
    <td> &nbsp </td>
    <td>
<div id="download"> &nbsp
  <a href="{{download_url}}"><input type="submit" value="Download Data"></a> &nbsp
</div>
    </td>
</table>
{% endblock %}
