{% extends "graph/maintenance/data_access.html" %}

{% block morehead %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/graph.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
    var start = {{ start }};
    var end = {{ end }};
</script>
{% endblock %}

{% block content %}

<table id="datarequest">
<tr>
    <td> {{ block.super }} </td>
    <td>
<div id="download">
  <h2 class="center">
  <a href="{{download_url}}">Download Data</a>
  </h2>
</div>
    </td>
</table>
{% endblock %}
