{% extends "base_maintenance.html" %}

{% block title %}The Server Speaks{% endblock %}

{% block morehead %}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/energy_table.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
    $(function () {
    $('#monitor_status').tablesorter({widgets: ['zebra']});
    {% for mon in data %}
    $('#mon{{ mon.0 }}').click(function() {
        window.location = '{{ mon.0 }}/M/A';
    });
    {% endfor %}
    });
    alert(" {{ load }} ");
</script>
{% endblock %}

{% block content %}

<p> System load: {{ load }} </p>

<table class="tablesorter" id="monitor_status">
  <thead>
    <tr id="trhead">
      <th> Monitor</th>
      <th> Location</th>
      <th> Status</th>
      <th> Status Time</th>
    </tr>
  </thead>
  <tbody><!--Make every other row of class even-->
    {% for mon in data %}
    <tr id="mon{{ mon.0 }}" {% if mon.0|divisibleby:2 %}class="even" {% endif %}>
      <td id="num{{ mon.0 }}" {% if mon.0|divisibleby:2 %}class="even" {% endif %}>{{ mon.0 }}</td>
      <td id="loc{{ mon.0 }}" {% if mon.0|divisibleby:2 %}class="even" {% endif %}>{{ mon.1 }}</td>
      <td id="stat{{ mon.0 }}" {% if mon.0|divisibleby:2 %}class="even" {% endif %}>{{ mon.2 }}</td>
      <td id="time{{ mon.0 }}" {% if mon.0|divisibleby:2 %}class="even" {% endif %}>{{ mon.3 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
