/* generic overall css */
*
{
    font-size: 16px;
    font-family: sans-serif;
}

/* generic overall css */
div#content
{
    max-width: 985px;
    margin: auto;
}

table#base_table
{
    margin-right: auto;
    margin-left: auto;
}

/* Image loading css */
img.loading
{
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Center all tables by default */
table.center 
{
    margin: auto;
}

/* START Navigation css */
ul#navbar
{
    text-align: center;
}

ul#navbar li
{
    display: inline;
    list-style-type: none;
}

ul#subnavbar
{
    text-align: center;
}

ul#subnavbar li
{
    display: inline;
    list-style-type: none;
}
/* END Navigation css */

ul#navbar2
{
    text-align: center;
    font-size: 10px;
}

ul#navbar2 li
{
    display: inline;
    list-style-type: none;
}

ul#navbar2 li a
{
    font-size: 10px;
}
/* START Powered by css */
p#poweredby
{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

/* For some reason, getting rid of either of these
   font-size: 14px;
   causes the font to increase...
*/
p#poweredby *
{
    font-size: 14px;
}
/* END Powered by css */

/* Here is some css that will 'normalize' the webpage by removing the browser
styling of many HTML tags. It was found here: http://doc.jsfiddle.net/basic/introduction.html#fiddle-settings-sidebar */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img { 
border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym { border:0;}
